* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  height: 100%;
  width: 100%;
}
#nav {
  /* height: 100px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}
#nav-part1 {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}
#nav-part2 {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
}
#nav h3,
h2,
h4 {
  font-weight: 600;
  font-size: 20px;
}
#content {
  padding: 40px 60px;
  margin-top: 50px;
}
#content h3 {
  font-size: 30px;
  font-weight: 600;
}
#content h1 {
  font-size: 120px;
  font-weight: 500;
  line-height: 110px;
  margin-top: 30px;
  letter-spacing: -2px;
  word-spacing: 2px;
}
#case {
  padding: 30px 50px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#case h4,
h5 {
  font-size: 20px;
  font-weight: 500;
}
#right {
  display: flex;
  align-items: center;
  gap: 20px;
}
#line {
  height: 2px;
  width: 100px;
  background-color: #000;
}
#projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
  gap: 30px;
}
.elem {
  width: 50%;
  /* background: #000; */
}
.elem-img {
  height: 500px;
  width: 100%;
  border-radius: 50px;
  background-color: rgb(173, 209, 220);
  background-size: cover;
  background-position: center;
}
#img1 {
  background-image: url(assets/1707480017.png);
}
#img2 {
  background-image: url(assets/Features\ Slider\ with\ App\ Image\ _\ UI_UX\ Patterns.jpg);
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.bottom i {
  padding: 15px 30px;
  font-size: 20px;
  border: 2px solid #000;
  border-radius: 50px;
}
.bottom i:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}